<div data-module="amsterdam-time">Amsterdam, NL</div>
<ul class="footer__meta | unstyled-list | font-size:sm flow-x">
  <li class="footer__meta-item">
    <a href="/privacy" class="footer__menu-link footer__link">Privacy</a>
  </li>
  <li class="footer__meta-item">
    <a href="/accessibility" class="footer__menu-link footer__link">Accessibility</a>
  </li>
  <li class="footer__meta-item">
    <a href="/feed.xml">RSS</a>
  </li>
</ul>
<div data-module="now-playing"></div>
