<div class="h-card | hidden">
  <a href="https://supriyono.nl" rel="me" class="p-name u-url">Pandu Supriyono</a>
  <a href="mailto:mail@supriyono.nl" class="u-email">mail@supriyono.nl</a>
  <img class="u-photo" src="/assets/images/pandu-portrait.jpeg" alt="Pandu Supriyono smiling at the camera">
  <span class="p-note">{{ site.description }}</span>
  <span class="p-region">Utrecht</span>
  <span class="p-country-name">The Netherlands</span>
  <span class="p-role">Web developer</span>
  <span class="p-gender-identity">Male</span>
</div>