<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#dd7eb4">
  <meta name="generator" content="{{ eleventy.generator }}">
  <title>{{ title + " - Pandu Supriyono" | default(site.name)}}</title>
  <link rel="canonical" href="{{ site.url + page.url }}">
  <meta name="description" content="{{ description | default(site.description) }}">
  {% favicon 'src/_assets/favicon.svg' %}
  {% if keywords %} <meta name="keywords" content="{{ keywords | join(',') }}" />{% endif %}
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description | default(site.description) }}" />
  <meta property="og:type" content="{{ openGraph.type | default('website') }}" />
  <meta property="og:url" content="{{ site.url + page.url }}" />
  <meta property="og:image" content="{{ openGraph.image | default(site.url + '/assets/images/social-preview/default.png') }}" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title + ' - Pandu Supriyono' | default(site.name)}}">
  <meta name="twitter:description" content="{{ description | default(site.description) }}">
  <meta property="twitter:image" content="{{ openGraph.image | default(site.url + '/assets/images/social-preview/default.png') }}" />
  <style>
    @font-face {
      font-family: "PP Neue Montreal";
      font-weight: 400;
      src: url("/assets/fonts/PPNeueMontreal-Regular.ttf") format("ttf"),
        url("/assets/fonts/PPNeueMontreal-Regular.otf") format("otf"),
        url("/assets/fonts/PPNeueMontreal-Regular.woff") format("woff"),
        url("/assets/fonts/PPNeueMontreal-Regular.woff2") format("woff2");
    }

    @font-face {
      font-family: "PP Neue Montreal";
      font-weight: 700;
      src: url("/assets/fonts/PPNeueMontreal-Bold.ttf") format("ttf"),
        url("/assets/fonts/PPNeueMontreal-Bold.otf") format("otf"),
        url("/assets/fonts/PPNeueMontreal-Bold.woff") format("woff"),
        url("/assets/fonts/PPNeueMontreal-Bold.woff2") format("woff2");
    }
  </style>
  <link rel="stylesheet" href="/assets/main.css"/>
</head>