---
layout: _full-width.njk
---

<div class="text">
  <h1>{{ title | safe }}</h1>

  {{ content | safe }}

  <ul class="blog-list | unstyled-list | flow">
    {% for post in collections[tag | default("posts")] %}
      <li class="blog-list__item | flow">
        <a href="{{ post.url }}">
          <h2 class="blog-list__item-heading">
            {{post.data.title}}
          </h2>
        </a>
        <div class="blog-list__date">Posted on {{ post.date | date('d MMMM yyyy') }}</div>
        <div class="blog-list__item-tags | wrap">
          {% for tag in post.data.tags %}
            <a class="pill" href="/blog/tags/{{ tag | slugify }}">{{tag}}</a>
          {% endfor %}
        </div>
        <p class="blog-list__item-description">
          {{ post.data.description }}
        </p>
      </li>
    {% endfor %}
  </ul>
</div>
