---
layout: _full-width.njk
---

<div class="post | flow">
  <h1 class="post__heading | text">
    {{ title }}
  </h1>
  <div class="post__meta | flow">
    <div>Blog post</div>
    <div class="post__meta-date">
      Posted on {{ date | date('d MMMM yyyy') }}
    </div>
    <div>
    <h2 class="sr-only">Tags</h2>
    <ul class="post__tags | unstyled-list | wrap">
      {% for tag in tags %}
      <li>
        <a href="/blog/tags/{{ tag | slugify }}" class="pill">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
    </div>
  </div>
  {% if description %}
    <p class="post__description | text">
      {{ description }}
    </p>
  {% endif %}
  <aside class="post__aside">
    <div class="toc">
      <h2 class="toc__heading">Contents</h2>
      {{ content | toc | safe }}
    </div>
  </aside>
  <div class="post__content | text">
    {{ content | safe }}
  </div>
</div>

