*:not(h1) + .blog-list {
  margin-top: 4rem;
}

.blog-list {
  padding-bottom: 4rem;
}

.blog-list__item {
  --flow-y-space: 3rem;
}

.blog-list__item a {
  display: inline-block;
}

.blog-list__item-heading {
  font-weight: 400;
  font-size: var(--font-size-lg);
  margin-top: 0;
  margin-bottom: 0;
}

.blog-list__date {
  --flow-y-space: 0.5rem;
  font-size: var(--font-size-sm);
}

.blog-list__item-description {
  --flow-y-space: 1.5rem;
  font-size: var(--font-size-base);
  margin-bottom: 0;
}

.blog-list__item-tags {
  --flow-y-space: 0.65rem;
  --column-gap: 0.5rem;
  --row-gap: 0.5rem;

  font-size: var(--font-size-sm);
}