.pill {
  padding: 0.25rem 0.50rem;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
  display: inline-block;

  &:hover {
    background-color: var(--text-color);
    color: var(--background-color);
  }
}

.pill[data-color="inverted"] {
  border: 2px solid var(--background-color);
  color: var(--background-color);
  background-color: var(--text-color);
}