.toc {
  position: sticky;
  top: 2rem;
}

.toc__heading {
  font-weight: 400;
  font-size: var(--font-size-base);
  margin-top: 1rem;
}

.toc ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.toc a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.toc li {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0.5rem;

  &:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 18px;
    overflow: hidden;
  }
}