.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.bottom {
  margin-top: auto;
}

.right {
  margin-left: auto;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flow > *:first-child {
  align-self: flex-end;
}

.flow > * + * {
  margin-top: var(--flow-y-space, 1rem);
}

.flow-x > * + * {
  margin-left: var(--flow-x-space, 1rem);
}

.invert-colours {
  background-color: var(--text-color);
  color: var(--background-color);

  a {
    color: var(--background-color);
  }
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-gap, 1rem);
  row-gap: var(--row-gap, 1rem);
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(var(--auto-grid-min-size, 16rem),1fr));
  grid-gap: var(--auto-grid-gap, 1.7777688889rem);
}

.align-self\:flex-end {
  align-self: flex-end;
}

.font-size\:sm {
  font-size: var(--font-size-sm);
}

.font-size\:base {
  font-size: var(--font-size-base);
}

.font-size\:mg {
  font-size: var(--font-size-mg);
}

.font-size\:lg {
  font-size: var(--font-size-lg);
}

.font-size\:xl {
  font-size: var(--font-size-xl);
}


.font-size\:xxl {
  font-size: var(--font-size-xxl);
}

.font-size\:xxxl {
  font-size: var(--font-size-xxxl);
}

.font-size\:inherit {
  font-size: inherit;
}

.text-decoration\:none {
  text-decoration: none;
}

.splitter-y {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}