@import "normalize.css/normalize";
@import "~sass-mq/mq";
@import "./settings";
@import "./utils";
@import "./components";
@import "./prism";
@import "./prose";

html {
  font-size: 100% * 1.25;
}

body {
  font-family: $font-family-body;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;

  &:hover {
    text-decoration-thickness: 3px;
  }
}

a:focus,
button:focus {
  outline: 4px dashed var(--focus-color);
  outline-offset: 2px;
}

main {
  z-index: 1;
  position: relative;
  background-color: var(--background-color);
}

h1 {
  font-size: var(--font-size-xxl);
  font-weight: 400;
}