.container {
  width: var(--container-width, min(100% - 4rem, 1600px));
  margin-inline: auto;
}

.container--full-width {
  --container-width: min(100% - 4rem);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.bottom {
  margin-top: auto;
}

.switcher {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((30rem - 100%) * 999);
  }

  & > *[data-switcher-position="center"] {
    text-align: center;
  }

  & > *[data-switcher-position="right"] {
    text-align: right;
  }
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flow > *:first-child {
  align-self: flex-end;
}

.flow > * + * {
  margin-top: var(--flow-y-space, 1rem);
}

.flow-x > * + * {
  margin-left: var(--flow-x-space, 1rem);
}

.invert-colours {
  background-color: var(--text-color);
  color: var(--background-color);

  a {
    color: var(--background-color);
  }
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-gap, 1rem);
  row-gap: var(--row-gap, 1rem);
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(var(--auto-grid-min-size, 16rem),1fr));
  grid-gap: var(--auto-grid-gap, 1.7777688889rem);
}

.font-size-small {
  font-size: var(--font-size-sm);
}

.font-weight-normal {
  font-weight: 400;
}

.text {
  max-width: 45rem;

  p {
    font-size: var(--font-size-base);
  }
}