---
title: Contact
layout: _base.njk
permalink: /contact/
---

<main id="main" class="contact | container container--full-width | splitter-y">
  <h1 class="font-size:xxxl">Something to discuss?</h1>
  <div class="sidebar | bottom flow">
    <p class="font-size:lg">Looking forward to hearing your ideas and comments. Do feel free to reach me by:</p>
    <div class="contact-options | wrap flow">
      <ul class="unstyled-list | font-size:lg">
        <li><a class="text-decoration:none" href="mailto:mail@supriyono.nl">mail@supriyono.nl</a></li>
        <li><a class="text-decoration:none" href="https://github.com/pandu-supriyono">GitHub</a></li>
        <li><a class="text-decoration:none" href="https://twitter.com/pandu_yono">@pandu_yono</a></li>
      </ul>
      <a class="contact-button | pill | right font-size:xl" href="mailto:mail@supriyono.nl">Contact me</a>
    </div>
  </div>
</main>

<footer class="footer | bottom font-size:sm">
  <div class="footer__container | container container--full-width | switcher flow" data-switcher="centered">
    {% include "footer-widgets.njk" %}
  </div>
</footer>