.contact h1 {
  max-inline-size: none;
  margin-top: 2rem;

  @include mq($from: tablet) {
    margin-top: 4rem;
  }
}

.contact {
  --flow-y-space: 4rem;

  flex-grow: 1;
}

.contact .sidebar {
  --sidebar-target-width: 40rem;
}

.contact-options {
  align-items: flex-end;
}