.posts-content {
  --max-inline-size: 40ch;
}

.posts-tag-list {
  --column-gap: 0.5rem;
  --row-gap: 0.5rem;
}

.post-post-list__item {
  --flow-y-space: 3rem;

  & > * {
    --flow-y-space: 0.5rem;
  }
}

.post-post-list__item-heading {
  margin-bottom: -0.25rem;
}

.post-post-list__item-description {
  --flow-y-space: 1.25rem;
}
