.prose {
  --flow-y-space: 1.5rem;

  h1 + * {
    --flow-y-space: 2.5rem;
  }

  h2, h3 {
    font-size: var(--font-size-md);
  }

  * + h2 {
    --flow-y-space: 2.5rem;
  }

  &.prose--lead {
    h1 + p {
      font-size: var(--font-size-lg);
      line-height: 1.414;
    }

    h1 + p + * {
      --flow-y-space: 2.5rem;
    }
  }

  blockquote {
    border-left: 6px solid var(--border-color);
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
